*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.light-theme{
    background: white;
}
header{
    width: 100%;
}

nav,.list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav{
    width: 80%;
    margin: auto auto;
    padding: 1rem 0;
}
.list-items{
    margin: auto 1rem;
    position: relative;
}
li a{
    text-decoration: none;
    color: rgb(68, 67, 67); 
    font-size: 1.2rem;  
    padding-bottom: .2rem;
    transition: all .3s ease-in-out;
}

.list-items::after{
    content: "";
    position: absolute;
    height: .16rem;
    width: 0rem;
    background: crimson;
    top: 1.5rem;
    left: 0;
    transition: all .6s ease-in-out;
}
.list-items:hover::after{
    width: 100%;
}

.list-items a:hover{
    color: hotpink;
}
.active{
    color: hotpink;
}
.logo h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
}
span{
    color: rgb(54, 110, 214);
}
.ham{
    position: absolute;
    width: 3rem;
    top: .5rem;
    display: none;
    right: 2rem;
}
.ham img{
    width: 70%;
}


/*-------------------------*/
.landing-page,.image-portion{
    width: 100%;
    height: 80%;
}

.landing-page img,.image-portion img{
    width: 100%;
    height: 91vh;
    object-fit: cover;
}
.second-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
}
.text-portion > *{
    margin: 1rem;
}
.image-portion{
    width: 70%;
    overflow: hidden;
}
.image-portion img{
    width: 100%;
    height: 100vh;
    transition: all .5s ease-in-out;
}
.balloon-img:hover{
    width: 110%;
}

.text-portion h2{
    font-size: 4rem;
    color: #3d84b8;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3rem;
}
.text-portion p{
    font-size: 1.2rem;
    color: rgb(68, 68, 68);
}
.download-btn{
    height: 2.5rem;
    width: 15rem;
    font-size: 1.2rem;
    background:#00adb5;
    outline: none;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.download-btn:hover{
    color: rgb(253, 243, 243);
    background:rgb(54, 110, 214);
}

/*------------------------------------------*/
.third-section{
    margin-top: 4rem;
}
.box-container{
    width: 80%;
    margin: auto auto;
    display: grid;
    grid-template-areas:
    "one two three"
    "four five six";
    grid-gap: 2rem;
}
.box-container div{
    display: flex;
    flex-direction: column;
    background: rgb(230, 227, 227);
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.img-holder{
    height: 10rem;
}
.box-container h4{
    font-size: 1.2rem;
    font-family: 'Hind', sans-serif;
}
.box-container p{
    font-family: 'Oxygen', sans-serif;
    margin-top: 1rem;
    font-weight: 600;
    text-align: center;
}
.features-img{
    width: 40%;
    margin-left: 2rem;
    transition: all .5s ease-in-out;
}
.box-container div:hover .features-img{
    width: 45%;
}



/*-----------------------------------*/

.features-list{
    margin: auto;
    margin-top: 6rem;
    width: 80%;
}
.features-list h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 1rem auto;
}
.features-list ul li{
    font-size: 1.2rem;
    margin: .7rem auto;
    font-family: 'Ubuntu', sans-serif;
}

/*-------------------------------------------------------------*/
.screenshots-section{
    margin-top: 2rem;
    width: 100%;
}
.screenshots-section h2,.installation h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
}
.ss-holder{
    display: grid;
    grid-gap: 2rem;
    grid-template-areas:
    "one two"
    "three three"
    "four five";
}
.ss-holder img{
    width: 100%;
}
.ss1{grid-area: one;}
.ss2{grid-area: two;}
.ss3{grid-area: three;}
.ss4{grid-area: four;}
.ss5{grid-area: five;}

/*------------------------------------*/
.installation{
    width: 80%;
    margin: auto auto;
}
.installation p,a{
    font-family: 'Laila', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}
.download-links{
    margin-top: 5rem;
}
.download-links a:hover,.contact-us a:hover,.dark-theme .download-links a:hover,.dark-theme .contact-us a:hover{
    color: hotpink;
}

/*-----------------------------*/
footer{
    margin-top: 4rem;
    background: #00adb5;
    text-align: center;
}
footer h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
footer p,.dark-theme footer p{
    font-family: 'Laila', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}


.night-switch{
    position: fixed;
    width: 3rem;
    height: 3rem;
    background: rgb(201, 202, 199);
    margin: 40% 0 0 93%;
    border-radius: 100%;
}
.dark-icon{
    width: 60%;
    transform: translate(32%,32%);
}

.dark-theme{
    background: #121212;
    color: white;
}
.dark-theme .logo h2{
    color: white;
}
.dark-theme ul a{
    color: white;
}
.dark-theme .text-portion p{
    color: rgb(211, 209, 209);
}
.dark-theme .box-container div{
    background: rgb(41, 41, 41);
    color: rgb(218, 212, 212);
}
.dark-theme .box-container div h4{
    color: rgb(155, 155, 155);
}
.dark-theme h2{
    color: rgb(170, 166, 166);
}
.dark-theme .installation p{
    color: rgb(221, 217, 217);
}
.dark-theme .installation a{
    color: rgb(84, 149, 247)
}
.dark-theme footer h2,.dark-theme footer p{
    color: black;
}
.dark-theme #ham-btn{
    filter: invert(1);
}

@media (max-width: 680px) {
    nav{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .list{
        position: absolute;
        top: 2rem;
        left: 0;
        background: rgb(245, 246, 247);
        margin-top: 1rem;
        transition: all .5s ease-in-out;
        display: none;
    }
    .dark-theme .list{
        background: #121212;
    }
    li{
        margin: .5rem auto;
    }
    .logo h2{
        font-size: 1.2rem;
    }
    .ham{
        display: block;
        margin:auto auto;
    }
    .second-section{
        flex-direction: column;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    .text-portion,.image-portion{    
        position: absolute;
    }
    .text-portion p{
        z-index: 50;
    }
    .image-portion{
        z-index: -1;
        width: 100%;
    }
    #switch{
        z-index: 1000;
    }
    .text-portion{
        top: 5rem;
    }
    .text-portion h2{
        color: #f3cfc5;
    }
    .text-portion p{
        font-size: 1.5rem;
        color: rgb(32, 31, 31);
    }
    .download-btn{
        background: rgb(224, 136, 120);
    }
    .third-section{
        margin-top: 1rem;
    }
    .box-container{
        grid-template-areas:
        "one two"
        "three four"
        "five six";
    }
    .img-holder{
        height: 8rem;
    }
    .box-container div:hover .features-img{
        width: 40%;
    }
    .ss-holder{
        background: none;
        grid-gap: 1rem;
        grid-template-areas:
        "one" "two" "three" "four" "five" "six";
    }
    .installation h2{
        font-size: 1.7rem;
    }
    .installation p,a{
        font-size: 1rem;
    }
    footer h2,.dark-theme footer h2{
        font-size: 1.7rem;
    }
    footer p,.dark-theme footer p{
        font-size: 1rem;
    }
    .night-switch{
        margin: 120% 0 0 85%;
        border-radius: 100%;
    }
}

@media(max-width:480px) {
    .box-container{
        grid-template-areas:
        "one" "two" "three" "four" "five" "six";
    }
}